<div class="content-wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-rotate-90 fa-search"></i>
            </div>
            <form ng-submit="search.submitSearch()" name="searchForm" md-theme="dark">
              <md-input-container>
                <label>Enter a Search Term</label>
                <input type="text" class="text-white" ng-model="search.searchbox" required ng-minlength="1">
              </md-input-container>
              <md-button type="submit" class="md-primary md-raised" ng-disabled="searchForm.$invalid">
                Search
              </md-button>
            </form>
          </div>
        </div>
      </div>
      
      <div ng-show="search.term" class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-asterisk"></i>
            </div>
            <div class="mr-5 md-title">
              Current Word: {{search.term}}
            </div>
          </div>
        </div>
      </div>
      <div ng-show="search.term" class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-th-list"></i>
            </div>
            <div class="mr-5 md-title">
              {{search.searchWordCount}} Occurences in
              {{search.searchWordEntryCount}} Entries
            </div>
          </div>
        </div>
      </div>
      <div ng-show="search.term" class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-plus-square"></i>
            </div>
            <div class="mr-5 md-title">
              <!-- TODO: Remove -->
            </div>
          </div>
        </div>
      </div>        
    </div>

<!--     <md-content layout="row" layout-padding class="md-whiteframe-6dp">
      <div class="col-lg-3">
        <h1 class="md-headline">Current Word:</h1>
        <h1 class="md-display-1">{{search.term}}</h1>
      </div>

      <div class="col-lg-3">
        <br>
        <h1 class="md-display-1">{{search.searchWordCount}} Occurences</h1>
      </div>

      <form ng-submit="search.submitSearch()" class="col-lg-6" name="searchForm">
        <md-input-container flex>
          <label>Enter a Search Term</label>
          <input type="text" ng-model="search.searchbox" required ng-minlength="1">
        </md-input-container>
        <md-button type="submit" class="md-primary md-raised" ng-disabled="searchForm.$invalid">
          <i class="fa fa-search"></i>
          Search
        </md-button>          
      </form>
    </md-content> -->

    <div ng-show="search.term"  class="row">
      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-tree"></i>
            Word Tree
          </div>
          <div class="card-body">
            <div id="word_tree_chart"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-pie-chart"></i>
            Sentiment of Sentences with "{{search.term}}"
          </div>
          <div class="card-body">
            <canvas id="searchSentimentPieChart" width="100%" height="100"></canvas>
          </div>
          <div class="card-footer small text-muted">
            Updated {{main.lastUpdated}}
          </div>
        </div>
      </div>
    </div>

    </div>

    <div ng-show="search.term"  class="row">
<!--       <div class="col-lg-12">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-area-chart"></i>
            Frequency over Time
          </div>
          <div class="card-body">
            <canvas id="search_frequency_chart" width="100%" height="30"></canvas>
          </div>
        </div> -->

      <div class="col-lg-12">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-calendar"></i>
            Frequency of "{{search.term}}" Over Time
          </div>
          <div class="card-body">
            <div id="searchCalendarChart"></div>
          </div>
        </div>        
    </div>

  </div>
</div>